/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body {
     height: 100%;
     background-color: rgb(244, 244, 244);
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav {
    background-color: rgb(15, 43, 123);
}
.page-footer {
    padding-top: 0px;
    background-color: rgb(4, 11, 35);
    color: rgb(51, 51, 51);
    /*position: fixed;
    right: 0;
  bottom: 0;
  left: 0;*/
}

span.badge {
    float: right !important;
    text-align: left;
    padding: 0px;
    color: white;
}

table.highlight tbody tr:hover {
    background-color: #90a4ae !important;
}

.loginTitle {
    background-color: #001489;
    padding: 1rem;
}

.loginTitle img {
    width: 215px !important;
    height: 55px;
    position: relative;
    top: 11px;
}

.cardActionButtons {
    text-transform: none !important;
    font-weight: bold;
}

.no-margin-bot {
    margin-bottom: 0px;
}

.napaActionButton {
    color: rgb(0, 20, 137) !important;
    background-color: rgb(255, 199, 44);
}

.napaActionButton:hover {
    background-color: #fdd835;
}

@media only screen and (max-width: 460px) {
  .pagination li i {
    font-size: 0.9rem;
}
}

.napaBlue {
    color: #001489;
}

.greenBadge {
    font-weight: 500;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    display: initial;
    padding: 2px;
}

.yellowBadge {
    font-weight: 500;
    font-size: 0.8rem;
    color: #000;
    background-color: #ffeb3b;
    border-radius: 2px;
    text-align: center;
    line-height: 22px;
    height: 22px;
    display: initial;
    padding: 2px;
}
.navBrandLogo {
    height:65px; 
    width: 190px;
}


/*.handOnHover {
    cursor: pointer;
}*/

/*th {
    background-color: #4CAF50;
    color: white;
}*/

/*tr:hover {
    background-color:#000000;
}*/

/*.brand-logo {
    background: url(../images/icon.png) no-repeat 6px center;
    width: 100%;
    height: 100%;
    display: block;
}*/